.scoreboardrugby{
    display:grid;
    grid-template-rows: 20% 70% 10%;
    height: 100%;
    width: 100%;
}.scoreboard-rugby {
    display: grid;
    grid-template-rows: 35% 65%;
}.scoreboard-rugby-2{
    display: grid;
    grid-template-rows: 30% 70%;

}.rugpage1 {
    height: 100%;
    display: grid;
    grid-template-rows: 40% 60%;
}.logo-equipo {
    width: 15vh;
    height: 15vh;
    border: solid 2px whitesmoke;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    color: #bbbbbb;
    justify-content: center;
}.equiposrug {
    display: grid;
    grid-template-rows: 80% 20%;
    height: 100%;
    justify-content: center;
}.equiposrug2 {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
}form.scoreboardform-rugby {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90%;
}.equipo{
    display: flex;
    border: solid 1px;
    height: 6vh;
}.rugpage2 {
    display: grid;
    grid-template-rows: 50% 50%;
}.scoreboard-puntos-rugby {
    background-color: whitesmoke;
    border: solid 12px white;
    border-radius: 3vh;
}.puntos-rugby {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    height: 100%;
}.card-header-rugby {
    display: grid;
    justify-content: center;
    padding: 10% 0 140% 0;
    
}.bg-verde{
    background-color:#39af42;
}.titulorug{
    font-size: 1.4em;
    color:white;
    position: absolute;
    bottom: 10%;
    left:40%
}@media screen and ( max-height:700px){
    .equiposrug {
        
        grid-template-rows: 75% 25%;
        
    }.scoreboard-rugby {
        display: grid;
        grid-template-rows: 35% 65%;
    }.scoreboard-rugby-2{
        display: grid;
        grid-template-rows: 28% 72%;
    
    }.titulorug{
        font-size: 1.1em;
    }.rugpage2 {
        display: grid;
        grid-template-rows: 45% 55%;
    }
}.navegacion-rugby {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 3em;
    background-color:whitesmoke;
   
}@media screen and ( min-width:800px){
}