.card-body-goles {
    display: grid;
    grid-template-rows: 60% 40%;
    justify-items: center;

}@media screen and (min-height:780px){

	.puntos-equipos {
		
		font-size: 50px!important;
	}
}.botones-goles {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}button.boton-goles-cir {
    width: 80%;
    height: 70%;
    border-radius: 50%;
   
    border: solid green;
}.score2 {
	display: grid;
	grid-template-rows: 15% 85%;
}.card-body-score {
	display: grid;
	grid-template-rows: 40% 60%;
	justify-self: center;
}.puntos-equipos {
	justify-content: center;
	align-content: center;
	display: grid;
	font-size: 40px;
}.botones-puntos {
	justify-content: center;
	align-content: center;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	gap: 3px;
}.boton-score-circl {
	border-radius: 50%;
	border: solid 1px #ffc107;
    width: 40px;
    height: 40px;
}.w-pe{
		height: 40px;
		width: 40px;
	
	
}@media screen and (max-height:700px){
	.w-pe{
		height: 32px!important;
		width: 32px!important;
	}.card-body-score {
		
		grid-template-rows: 30% 60%;
		
	}.score2 {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 85%;
	}.reloj-fut-grid {
   
    border: solid 9px white;
    
	}.scoreboard-puntos-rugby {
		background-color: whitesmoke;
		border: solid 7px white;
		border-radius: 3vh;
	}.puntos-equipos {
		font-size: 42px;
		margin-bottom: 1vh;
	}
	.card-body-goles {
		display: grid;
		grid-template-rows: 40% 40%;
		justify-items: center;
	}
}