.card-body-goles {
    display: grid;
    grid-template-rows: 60% 40%;
    justify-items: center;
}span.goles-con {
    font-size: 55px;
}.botones-goles {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}button.boton-goles-cir {
    width: 80%;
    height: 70%;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
    border: solid green;
}.bgn-white{
 background-color: white;
}.btn-w{
    width:45px!important;
    height: 45px!important;
}.bg-verde{
    background-color:#39af42!important;

}.border-verde{  
    border: solid 1px #39af42 !important;
}.text-verde{
    color:  #39af42;
}.bg-naranja{
    background-color:#fd8631!important;

}.border-naranja{  
    border: solid 1px #fd8631 !important;
}.text-naranja{
    color:  #fd8631;
   
}@media screen and (max-height:700px){
    span.goles-con {
        font-size: 40px!important;
        text-align: center;
        display: grid;
        align-content: center;
    }
    button.buttonsets {
       
        height: 80%!important;
    }.scoreboard-page2-tennis {
        height: 100%;
        display: grid;
        grid-template-rows: 30% 35% 35%;
    }.btn-w {
        width: 40px!important;
        height: 40px!important;
    }
}